@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

.sony-logo{
    background-image: url(../imagens/logo-sony.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: auto;
    width: 132px;
    height: 36px;
}

.header{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    z-index: 9998;
    background-color: white;
}

.nav-container{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
}

#nav-shared{
    display: flex;
    width: 92%;
}

#nav-shared .nav-shared{
    -webkit-box-sizing: unset;
    box-sizing: unset;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    min-width: 300px;
    position: relative;
    width: 100%;
}

.ps-logo-container{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.img-ps-logo{
    height: 34px;
    width: 34px;
}

.primaty-parent{
    left: -100%;
    -webkit-transition: left .25s ease-in;
    transition: left .25s ease-in;
}

.primary-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.125rem;
    overflow: hidden;
    width: auto;
}

.primary-button{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    width: 100%;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
    margin: 5px;
    background-color: white;
    color: #6b6b6b;
    font-weight: 500;
}

.primary-button:hover{
    color: #0070cc;
}

button{
    cursor: pointer;
}

#social{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    z-index: 9998;
    height: 40px;
    transition: height .55s ease;
}

.sign-in{
    background-color: #0070cc;
    color: white;
    padding: 5px;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
}

.sign-in:hover{
    background-color: #00579e;
}

.search{
    margin-top: 9px;
    margin-left: 20px;
    margin-right: -180px;
    margin: right;
}

.abas{
    position: relative;
    left: auto;
    top: auto;
    transform: translateZ(0px);

    -webkit-box-sizing: unset;
    box-sizing: unset;
    line-height: normal;
    display: block;
    font-family: Helvetica, arial, sans-serif;
    font-weight: 500;
    min-height: 64px;
    min-width: 320px;
    width: 100%;
    will-change: transform;
    z-index: 9998;
}

.abas *{
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font: inherit;
}

.abas-container{
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.12);
}

.abas-inner{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 100%;
    -webkit-transition: height 0.25s ease-out;
    transition: height 0.25s ease-out;
}

.logo-territory{
    margin: 0 22px;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 2;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    max-width: 25vw;
}

.carousels{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0;
    position: relative;
    width: 100%;
}

.carousels.centered{
    left: 0;
    margin: 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
}

ul{
    list-style-position: inside;
}

li{
    list-style-type: none;
    padding-right: 5px;
}

.tabs{
    padding-top: .5rem;
    margin: 0 16px;
    padding: 0;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    white-space: nowrap;
    -ms-overflow-style: none;
}

.tertiary-tab{
    display: block;
    scroll-snap-align: start;
}

.web-star-tab{
    border: 2px solid transparent;
    border-radius: 24px;
    padding: 4px 10px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transtition: background-color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.web-star-tab:hover{
    background-color: #e9e9e9;
}

#main{
    margin-top: 1.25rem;
}

.collection{
    margin-top: 1.25rem;
}

.viewpage{
    margin-top: 20px !important;
}

.heropage{
    position: relative;
    width: 100%;
}

.imghero{
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-banner{
    height: 90%;
}

.psw-fill{
    width: 100%;
    height: 100%;
}

.media{
    margin-top: -20px;
    display: inline-flex;
    position: relative;
}

.psw-center{
    object-position: center;
    top: 50%;
}

[dir=ltr] .psw-center{
    left: 50%;
    transform: translateY(-50%)translateX(-50%);
}

.psw-fade-in-out{
    object-fit: cover;
}

@media screen and (min-width: 700px){
    .sony-bar{
        top: 0;
        bottom: auto;
    }

    .sony-logo{
        display: block;
    }

    .sony-bar{
        background-color: black;
        font-size: 0;
        height: 36px;
        position: absolute;
        width: 100%;
        z-index: 9999;
        text-align: right;
    }

    .sony-bar a{
        display: inline-block;
        width: 160px; 
    }

    .nav-container{
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }

    #nav-shared .nav-shared{
        padding: 0 1.25rem;
        width: calc(100% - 20px);
    }

    .ps-logo-link{
        margin-right: 0.5rem;
        text-shadow: none;
        text-decoration: none;
    }

    .primaty-parent{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: static;
        width: auto;
        height: 100%;
        top: 64px;  
    }

    .primary-child{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: auto;
    }

    #social{
       -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; 
    }
    
}