@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

.sony-logo{
    background-image: url(../imagens/logo-sony.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: -82px 8px;
    height: 200px;
}

.header{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    z-index: 9998;
    background-color: white;
}

.nav-container{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
}

#nav-shared .nav-shared{
    -webkit-box-sizing: unset;
    box-sizing: unset;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 320px;
    position: relative;
    width: 100%;
}

.ps-logo-container{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.img-ps-logo{
    height: 34px;
    width: 34px;
}

.primaty-parent{
    left: -100%;
    -webkit-transition: left .25s ease-in;
    transition: left .25s ease-in;
}

@media screen and (min-width: 700px){
    .sony-bar{
        top: 0;
        bottom: auto;
    }

    .sony-logo{
        display: block;
    }

    .sony-bar{
        background-color: black;
        font-size: 0;
        height: 36px;
        position: absolute;
        width: 100%;
        z-index: 9999;
        text-align: right;
    }

    .sony-bar a{
        display: inline-block;
        width: 160px; 
    }

    .nav-container{
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }

    #nav-shared .nav-shared{
        padding: 0 1.25rem;
        width: calc(100% - 40px);
    }

    .ps-logo-link{
        margin-right: 0.5rem;
        text-shadow: none;
        text-decoration: none;
    }

    .primaty-parent{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: static;
        width: auto;
        height: 100%;
        top: 64px;  
    }

    .primary-child{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: auto;
    }
}