@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

#collection-4, #collection-5{
    margin-top: 20%;
}

.sony-logo{
    background-image: url(../imagens/logo-sony.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: auto;
    width: 132px;
    height: 36px;
}

.header{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    z-index: 9998;
    background-color: white;
}

.header-fixed{
    position: fixed;
    background-color: white;
    margin-top: -50px;
}

.nav-container{
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
}

#social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
}

input[type='text']{
    background-color: #ffffff;
    padding: 0px 10px;
    width: 250px;
    outline: none;
}

.web-tool{
    padding-top: 10px;
}

.web-tool-active{
    padding-top: 22px;
    padding-right: 300%;
}

.search{
    margin-top: 14px;
    margin-right: -180px;
}

.search-active{
    margin-right: -60px;
}

.search-open-body{
    display: flex;

    display: flex;
    position: relative;
    left: -1110%;
    right: 30%;
}

.search-open{
    /* display: flex;
    visibility: hidden;
    justify-content: center;
    position: relative;
    left: 40%;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.151);
    width: 437px; */
    display: flex;
    visibility: hidden;
    justify-content: center;
    position: absolute;
    z-index: 99999;
    padding: 7px;
    /* left: 82%; */
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.151);
    width: 410px;
    transition: all .6s ease;
}

.search-open-active{
    visibility: visible;
    transition: all .6s ease;
}

.ps-search-open{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-inline-end: 1px solid rgb(178, 178, 178);
    font-size: .9rem;
}

.span-search-active{
    background-color: #0070cc;
    color: white;
    padding: 10px 10px;
}

.span-in-search-body{
    cursor: pointer;
    position: relative;
    left: 1110%;
}

.span-in-search-body-active{
    /* margin-top: 9px;
    background-color: #0070cc;
    display: flex;
    margin-top: 0.7px;
    margin-bottom: -0.1%;
    padding-left: 43%;
    padding-right: 3%;
    color: white;
    align-items: center;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.17); */
    margin-top: 9px;
    background-color: #0070cc;
    display: flex;
    left: 1677%;
    margin-top: 0.7px;
    margin-bottom: -0.1%;
    padding-bottom: 19%;
    padding-top: 28%;
    padding-left: 43%;
    padding-right: 30%;
    color: white;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.17);
}

.show-onclick{
    display: flex;
}

.menu-open-container{
    display: none;
}

.menu-open-container-toggle{
    display: block;
}

.menu-open{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-container a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.menu-container a:hover{
    box-shadow: -2px -1px 15px rgba(0, 0, 0, 0.203);
}

.hr ul{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.hr li{
    list-style: disc;
    margin-left: 40px;
}

li::marker{
    font-size: 1.4rem;
    margin-top: 3px;
    color: #0070cc;
}

.hr li a{
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.hr li a:hover{
    color: #0070cc;
}

#nav-shared{
    display: flex;
    width: 92%;
}

#nav-shared .nav-shared{
    -webkit-box-sizing: unset;
    box-sizing: unset;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    min-width: 300px;
    position: relative;
    width: 100%;
}

.ps-logo-container{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.img-ps-logo{
    height: 34px;
    width: 34px;
}

.primaty-parent{
    left: -100%;
    -webkit-transition: left .25s ease-in;
    transition: left .25s ease-in;
}

.primary-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.125rem;
    overflow: hidden;
    width: auto;
}

.primary-button{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    width: 100%;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
    margin: 5px;
    background-color: white;
    font-weight: 500;
}

.primary-button button{
    color: #6b6b6b;
}

.primary-button:hover{
    color: #0070cc;
}

.active{
    color: #0070cc;
}

button{
    cursor: pointer;
}

#social{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    z-index: 9998;
    height: 40px;
    transition: height .55s ease;
}

.sign-in{
    background-color: #0070cc;
    color: white;
    padding: 5px;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
}

.sign-in:hover{
    background-color: #00579e;
}

.abas{
    position: relative;
    left: auto;
    top: auto;
    transform: translateZ(0px);

    -webkit-box-sizing: unset;
    box-sizing: unset;
    line-height: normal;
    display: block;
    font-family: Helvetica, arial, sans-serif;
    font-weight: 500;
    min-height: 64px;
    min-width: 320px;
    width: 100%;
    will-change: transform;
    z-index: 9998;
}

.abas *{
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font: inherit;
}

.abas-container{
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.12);
}

.abas-inner{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 100%;
    -webkit-transition: height 0.25s ease-out;
    transition: height 0.25s ease-out;
}

.logo-territory{
    margin: 0 22px;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 2;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    max-width: 25vw;
}

.carousels{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0;
    position: relative;
    width: 100%;
}

.carousels.centered{
    left: 0;
    margin: 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
}

ul{
    list-style-position: inside;
}

li{
    list-style-type: none;
    padding-right: 5px;
    line-height: 2;
}

.tabs{
    padding-top: .5rem;
    margin: 0 16px;
    padding: 0;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    white-space: nowrap;
    -ms-overflow-style: none;
}

.tertiary-tab{
    display: block;
    scroll-snap-align: start;
}

.web-star-tab{
    border: 2px solid transparent;
    border-radius: 24px;
    padding: 4px 10px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transtition: background-color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.web-star-tab:hover, .mostrar-mais button:hover{
    background-color: #efefef;
}

#main{
    margin-bottom: 4rem;
}

#main .collection{
    margin-top: 1.25rem;
}

.viewpage{
    margin-top: 20px !important;
}

.heropage{
    position: relative;
    width: 100%;
}

.imghero{
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-banner{
    height: 90%;
}

.psw-fill{
    width: 100%;
    height: 100%;
}

.media{
    margin-top: -20px;
    display: inline-flex;
    position: relative;
}

.psw-center{
    object-position: center;
    top: 50%;
}

[dir=ltr] .psw-center{
    left: 50%;
    transform: translateY(-50%)translateX(-50%);
}

.psw-fade-in-out{
    object-fit: cover;
}

.divulgacao{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,.12);
}

.paragrafo-section{
    padding-bottom: 28px !important;
    padding-top: 28px !important;
    max-width: calc(100vw - 84px);
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
}

.paragrafo{
    display: flex;
    flex-direction: column;
    min-width: 0;
    align-items: flex-start;
}

.paragrafo h2{
    font-weight: normal;
    margin-bottom: 28px
}

.paragrafo p{
    color: #6b6b6b;
    font-size: .8rem;
}

.btn{
    margin-left: 28px !important;
    margin-top: -4px !important;
}

.collection-list{
    max-width: calc(100vw - 26px);
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    align-items: center;
    min-width: 0;
}

.grid-list-collection, .colum1{
    width: calc(33.3333333333vw - 37.3333333333px);
    min-width: calc(33.3333333333vw - 37.3333333333px);
}

.grid-list-collection{
    margin: 6px;
}

.view-collection{
    margin-bottom: 56px;
    margin-top: 20px;
}

.psw-line-center, .menu-list-ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
    position: relative;
}

ul img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.mostrar-mais{
    text-align: center;
    /* margin-top: -302px; */
    margin-top: 20px;
    text-align: center;
    background-color: white;
    position: relative;
    /* height: 300px; */
}

.mostrar-mais button{
    background-color: white;
    color: #0070cc;
    padding: 7px;
    border-radius: 20px;
    font-weight: 700;
    font-size: .9rem;
}

.mostrar-mais button:hover{
    color: #00579e;
}

.melhores-pais{
    margin: 55px;
    margin-bottom: 25%;
}

.titulo{
    margin-left: 15px;
    margin-bottom: 4px !important;
}

.titulo h2{
    margin-right: 14px !important;
    font-size: 1.5714285714rem;
    font-weight: 400;
}

.medium-items{
    position: relative;
}

.nome{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px){
    .sony-bar{
        top: 0;
        bottom: auto;
    }

    .sony-logo{
        display: block;
    }

    .sony-bar{
        background-color: black;
        font-size: 0;
        height: 36px;
        position: absolute;
        width: 100%;
        z-index: 9999;
        text-align: right;
    }

    .sony-bar a{
        display: inline-block;
        width: 160px; 
    }

    .nav-container{
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }

    #nav-shared .nav-shared{
        padding: 0 1.25rem;
        width: calc(100% - 20px);
    }

    .ps-logo-link{
        margin-right: 0.5rem;
        text-shadow: none;
        text-decoration: none;
    }

    .primaty-parent{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: static;
        width: auto;
        height: 100%;
        top: 64px;  
    }

    .primary-child{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: auto;
    }

    #social{
       -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; 
    }
}

.hide{
    display: none;
}

.hide-spot{
    display: flex;
}

.medium-list-ul{
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    scroll-padding: 10px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;

    /* margin-left: -10px !important; */
    /* margin-right: -10px !important; */

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 0%;

    transition: all .8s ease;
}

.medium-list-ul img{
    height: 260px;
    width: 260px;
}

.medium-list-li{
    scroll-snap-align: start;
    margin-right: 28px;
}

.img{
    --psw-border-top-width: 0px;
    --psw-border-left-width: 0px;
    --psw-border-bottom-width: 0px;
    --psw-border-right-width: 0px;
    border-width: 0px;
    border-style: solid;

    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-end;
    justify-content: start;
    /* padding-top: 100%; */
}

.medium-list .img:hover{
    border: 3px solid #00579e;
    padding: 2px;
    margin: -3.31px;
    border-radius: 10px;
}

.prev-btn{
    display: none;
}

#left{
    left: -2%;
}

#right{
    left: 99%;
}

#right, #left{
    background-color: #00579e;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    display: flex;
    top: 475%;
    justify-content: center;
    align-items: center;
}

.medium-i{
    text-decoration: none;
    color: #343434;
}

.footer{
    background-color: #003697;
    color: white;
}

footer .ps-logo-container, .regiao{
    margin-left: 40px;
}

.regiao{
    display: flex;
}

.footer-links{

    max-width: calc(100vw - 26px);

    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    margin: auto;
    margin-top: -7px;
    margin-bottom: -7px;
    padding-left: 40px;
    font-size: .8rem;
}

footer a{
    text-decoration: none;
    color: white;
}

.footer-section, .footer-copy{
    max-width: calc(100vw - 84px);
}

.footer-section-content{
    padding-top: 36px !important;
    padding-bottom: 36px !important;

    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
    justify-content: flex-start;
    padding-left: 26px;
}

.text{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (min-width: 1024px){
    .medium-list{
        max-width: calc(100vw - 84px);
    }

    .footer-links{
        max-width: calc(100vw - 70px);
        font-size: .9rem;
    }

    .footer-links li{
        padding: 5px 0px;
    }
}

@media screen and (min-width: 1200px){
    .grid-list-collection {
        width: calc(29.333333vw - 30.333333px);
        min-width: calc(10.333333vw - 10.333333px);
        margin: 6px;
    }
}

@media (min-width: 1024px) and (max-width: 1365px){
    .medium-list-li{
        width: calc(25vw - 31.5px);
        min-width: calc(25vw - 31.5px);
    }
}

.hover{
    position: absolute;
    height: 97.5%;
    top: 0%;
    width: 100%;
    background-color: #00000000;
    border-radius: 5px;
}

.hover:hover{
    background-color: #00000044;
}

.colum1 a:hover{
    color: #d6d6d6;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #dbdbdb;
    border-radius: 2px;
    width: 30px;
}